:root{
    --bg:#f6f3ee;
    --card:#ffffff;
    --text:#2d2d2d;
    --accent:#7d9b7e;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    background:var(--bg);

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:20px;
}

.card{
    background:var(--card);

    width:100%;
    max-width:500px;

    padding:40px;

    border-radius:25px;

    box-shadow:0 10px 30px rgba(0,0,0,0.08);

    text-align:center;
}

.emoji{
    font-size:30px;
}

h1{
    margin-top:10px;
}

.subtitle{
    color:#777;
    margin-top:15px;
    line-height:1.6;
}

#content{
    margin:40px 0;
}

.category{
    background:#eef4ee;
    color:var(--accent);

    padding:8px 16px;

    border-radius:999px;

    display:inline-block;
}

.message{
    margin-top:25px;

    line-height:1.8;

    font-size:22px;

    font-weight:400;
}

button{
    border:none;

    background:var(--accent);

    color:white;

    padding:15px 30px;

    border-radius:999px;

    font-size:16px;

    cursor:pointer;
}
